<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BostonScientificAVS</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery3.7/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/datatable/jquery.dataTables.css" />
    <script src="~/lib/datatable/jquery.dataTables.js"></script>  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
       <link rel="stylesheet" href="~/lib/bootstrap/dist/js/bootstrap.js" />
       <script src="~/lib/bootstrap4/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BostonScientificAVS.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css">
    <link href="~/lib/material-icon/micon.css" rel="stylesheet">
</head>
<body style="height:100%">
      
            @RenderBody()
        <footer class="border-top footer text-muted">
        <div class="footer">
            <h6 class="footer-text">CVS Rev 1.0</h6>
</div>
    </footer>

   
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<style>
    #popupContent{
        right: 145px;
    }

    #popupContent1 {
        right: 145px;
    }
    .pack{
        top: 40px !important;
        left: 71px!important;
    }
    .avatar-image-size{
        height: 60px;
    }
    .container-fluid {
        max-width: 85%;
    }
    .login-container{
        margin-top: 7%;
    }
    .dropdown-menu{
        font-size: 1.7rem;
        top: 10px !important;
        left: 10px !important;
    }
</style>
