@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="login-container">
    <div>
        <div class="logo-image">
            <img src="~/assets/images/AbeTechLogo.png" class="image-size-default" />
        </div>
    </div>
    <div>
        <h6 class="app-name-text">Auto Verify System</h6>
    </div>
    <div>
        <a class="invalid-button"><span class="invalid-text">Invalid</span></a>
    </div>
    <div class="retry-button-container">
        <a class="retry-button" asp-area="" asp-controller="Login" asp-action="Login"><span class="retry-text">Retry</span></a>
    </div>
</div>

<style>
    .logo-image{
        width: 353px;
        height: 71px;
        margin: auto;
    }

    .app-name-text{
        font-size:41px;
        font-weight: 700;
        text-align: center;
    }

   .invalid-button{
        display: block;
        width: 118px;
        height: 67px;
        background: #FF0000;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        color: white;
        font-weight: bold;
        line-height: 40px;
        margin:auto;
        text-decoration:none;
    }

    .invalid-button:visited {
  color: inherit;
}

    .login-error-button{
           display: block;
        width: 280px;
        height: 67px;
        background: #FFDADA;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        line-height: 40px;
        margin:auto;
        text-decoration:none;
    }

    .retry-text{
        font-size:24px;
        font-weight:400;
        color:#003C71;
    }

    .invalid-text{
        font-size:24px;
        font-weight:500;
    }

    .login-error-text{
        font-size:24px;
        font-weight:500;
        color: orange;
    }

    .login-container{
        position: relative;
        top: 30%;
        display: flex;
        flex-direction: column;
        gap: 22px;
    }

    .error-mockup{
        position: relative;
        top: 50%;
    }

    .retry-button-container{
        margin:auto;
    }

    .retry-button{
        text-decoration:none;
    }
</style>

