
<div class="login-container">
    <div>
        <div class="logo-image">
            <img src="~/assets/images/AbeTechLogo.png" class="image-size-default" />
        </div>
    </div>
    <div>
        <h6 class="app-name-text">Auto Verify System</h6>
    </div>
    <div class="packaging">
        <a class="login-button" asp-area="" asp-controller="Home" asp-action="WorkOrderScan"><span class="login-text">Packaging</span></a>
    </div>
       <div>
        <a class="login-button" asp-area="" asp-controller="Home" asp-action="Index"><span class="login-text">Boxing/Carton</span></a>
    </div>
    <div>
        <a class="login-button" asp-area="" asp-controller="Home" asp-action="Users"><span class="login-text">Add Users</span></a>
    </div>
</div>

<div class="logout-container">
    <a class="logout" asp-area="" asp-controller="Home" asp-action="Index"><span class="logout-text">Logout</span></a>
</div>

@*<div class="text-center">
       <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Result">Result</a>
</div>*@

<style>
    .logout{
        text-decoration:none;
    }
    .logo-image{
        width: 353px;
        height: 71px;
        margin: auto;
    }

    .app-name-text{
        font-size:41px;
        font-weight: 700;
        text-align: center;
    }

    .login-button{
        display: block;
        width: 206px;
        height: 67px;
        background: #003C71;
        padding: 10px;
        text-align: center;
        border-radius: 12px;
        color: white;
        font-weight: bold;
        line-height: 40px;
        margin:auto;
        text-decoration:none;
    }

    .login-error-button{
           display: block;
        width: 280px;
        height: 67px;
        background: #FFDADA;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        line-height: 40px;
        margin:auto;
        text-decoration:none;
    }

    .login-text{
        font-size:24px;
        font-weight:500;
    }

    .login-error-text{
        font-size:24px;
        font-weight:500;
        color: orange;
    }

    .logout-text{
        font-size:24px;
        font-weight:500;
        color:#003C71;
     
    }

    .login-container{
        position: relative;
        top: 30%;
        display: flex;
        flex-direction: column;
        gap: 22px;
    }

    .error-mockup{
        position: relative;
        top: 50%;
    }

    .packaging{
        padding-top:10px;
    }

    .logout-container{
        position:relative;
        top:50%;
        padding-left:10px;
    }
</style>
