<div id="hoursInput" data-hours-input="@ViewBag.HoursInput"></div>
<div class="navigation-header-home">
        <div class="dropdown">
  <button class="custom-config-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="avatar-image-size" src="~/assets/images/user_avatar.png"/>
            <span class="user-name-text">Hello, @User.Identity.Name | @User.Claims.FirstOrDefault(c => c.Type == "EmpID")?.Value</span>
  </button>
  <div class="dropdown-menu custom-config-dropdown" aria-labelledby="dropdownMenuButton">

            @if (User.IsInRole("Admin"))
            {
                 <a class="dropdown-item text-color-blue" asp-area="" asp-controller="Admin" asp-action="Users">Manage Users</a>
                <a class="dropdown-item text-color-blue" asp-area="" asp-controller="Admin" asp-action="Items" >Manage Database</a>
                <a class="dropdown-item text-color-blue" asp-area="" asp-controller="Admin" asp-action="TransactionTable" >Transaction</a>
                <a class="dropdown-item text-color-blue" asp-area="" asp-controller="Admin" asp-action="Settings">Settings</a>
            }
                         <a class="dropdown-item text-color-blue"  asp-area="" asp-controller="Login" asp-action="Logout" >Logout</a> 
  </div>
</div>

<div class="navigation-back">
    <div class="session-time">
      <h6 class="session-expires-text text-color-blue">Your Session Expires On</h6>
      <h6 id="timer" class="session-expire-time text-color-blue"></h6>
      </div>
</div>

</div>
<div class="login-container">
   
    <div class="mid-container">
    <div>
        <div class="logo-image">
            <img src="~/assets/images/AbeTechLogo.png" class="image-size-default" />
        </div>
    </div>
    <div>
        <h6 class="app-name-text">Auto Verify System</h6>
    </div>
    <div class="packaging">
        <a class="login-button" asp-area="" asp-controller="Home" asp-action="WorkOrderScan"><span class="login-text">Packaging</span></a>
    </div>
       <div>
        <a class="login-button" asp-area="" asp-controller="Home" asp-action="WorkOrderBarcodeScan"><span class="login-text">Boxing/Carton</span></a>
    </div>
    </div>
   
    <div id="toast" style="visibility: hidden;">
        User time limit reached, it will automatically logout.
    </div>
</div>

@*<div class="logout-container">
    <a class="logout" asp-area="" asp-controller="Home" asp-action="Index"><span class="logout-text">Logout</span></a>
</div>*@

@*<div class="text-center">
       <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Result">Result</a>
</div>*@

<style>
    #toast {
        max-width: 300px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
    }

  .mid-container{
       display: flex;
       flex-direction: column;
       gap: 11px;
  }

    .btn-secondary:active{
        background-color:white;
    }

    .logout{
        text-decoration:none;
    }
    .logo-image{
        width: 353px;
        height: 71px;
        margin: auto;
    }

    .app-name-text{
        font-size:41px;
        font-weight: 700;
        text-align: center;
    }

    .login-button{
        display: block;
        width: 206px;
        height: 67px;
        background: #003C71;
        padding: 10px;
        text-align: center;
        border-radius: 12px;
        color: white;
        font-weight: bold;
        line-height: 40px;
        margin:auto;
        text-decoration:none;
    }

    .login-error-button{
           display: block;
        width: 280px;
        height: 67px;
        background: #FFDADA;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        line-height: 40px;
        margin:auto;
        text-decoration:none;
    }

    .login-text{
        font-size:24px;
        font-weight:500;
    }

    .login-error-text{
        font-size:24px;
        font-weight:500;
        color: orange;
    }

    .logout-text{
        font-size:24px;
        font-weight:500;
        color:#003C71;
     
    }

    .login-container{
        display: flex;
        flex-direction: column;
        gap: 22px;
        position: relative;
        top: 20%;
    }

    .error-mockup{
        position: relative;
        top: 50%;
    }

    .packaging{
        padding-top:10px;
    }

    .navigation-header-home{
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 20px;
    }

 
</style>

<script>
    var toastVisible = true; // Initially set to true so the message is not displayed
    var timerHasStarted = false;
    var intervalId;
    var isPaused = false;
    var pauseDuration = 60;

    const myElement = document.getElementById('hoursInput');
    function startTimer(duration) {
        if (!isPaused) {
    var timerDisplay = document.getElementById("timer");

    var timer = duration;
    var hours, minutes, seconds;

    intervalId = setInterval(function () {
        hours = parseInt(timer / 3600, 10);
        minutes = parseInt((timer % 3600) / 60, 10);
        seconds = parseInt(timer % 60, 10);

        hours = hours < 10 ? "0" + hours : hours;
        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        timerDisplay.textContent = hours + ":" + minutes + ":" + seconds;

                if (timer == 1800) {
                    if (!timerHasStarted) {
                        displayToast();
                        timerHasStarted = true;
                        isPaused = true;
                    }
                }

        if (--timer < 0) {
            clearInterval(intervalId);
            // Perform any action you need when the timer reaches 00:00:00
            window.location.href = "/Login/Logout";
            //alert("Timer has expired!");
        }
    }, 1000);
  }
}

    function displayToast() {
        if (toastVisible) {
            var toast = document.getElementById("toast");
            toast.style.visibility = "visible";
            toastVisible = false; // Set to false to hide the message

            setTimeout(function () {
                toast.style.visibility = "hidden";
                isPaused = false;
            }, pauseDuration * 1000); // Display the toast message for 1 minute
        }
    }



    // Set the initial expiration time in JavaScript (2 hours in this example)
    var hoursInput = myElement.dataset.hoursInput;; // Replace this with the desired hours from your input*/
    var expirationTime;
    if (hoursInput == 0) {
    expirationTime = localStorage.getItem("expiration_time");
    } else {
     expirationTime = Math.floor(Date.now() / 1000) + hoursInput * 3600;
    // Store the expiration time in localStorage
    localStorage.setItem("expiration_time", expirationTime);
    }

    var timerValueSet = localStorage.getItem("timerValueSet");
    if (timerValueSet == "true"){
        // Retrieve the timerValue
        var timerValue = localStorage.getItem("timerValue");
        // Use the timerValue as needed
        document.getElementById("timer").textContent = timerValue;
        const timeString = timerValue;
        const totalSeconds = timeToSeconds(timeString);
        function timeToSeconds(timeString) {
            const [hours, minutes] = timeString.split(":").map(Number);
            return hours * 3600 + minutes * 60;
        }
        var currentTime = Math.floor(Date.now() / 1000);
        var remainingTime = totalSeconds - currentTime;
        // Remove the flag since the timerValue is retrieved
        startTimer(remainingTime);
        localStorage.removeItem("timerValueSet");
    }
    else{
    // Get the expiration time from localStorage
    var currentTime = Math.floor(Date.now() / 1000);
    var remainingTime = expirationTime - currentTime;
    startTimer(remainingTime);
    }
</script>
