
<!DOCTYPE html>
<html>
 <head>
@{
    ViewData["Title"] = "Settings";
}
</head>
<body>
<partial name="_Loader" />
<div class="navigation-header-home">
    <div class="dropdown">
        <button class="custom-config-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="avatar-image-size" src="~/assets/images/user_avatar.png" />
            <span class="user-name-text">Hello, @User.Identity.Name | @User.Claims.FirstOrDefault(c => c.Type == "EmpID")?.Value</span>
        </button>
        <div class="dropdown-menu custom-config-dropdown" aria-labelledby="dropdownMenuButton">

            @if (User.IsInRole("Admin"))
            {
                <a class="dropdown-item text-color-blue" asp-area="" asp-controller="Admin" asp-action="Users">Manage Users</a>
                <a class="dropdown-item text-color-blue" asp-area="" asp-controller="Admin" asp-action="Items">Manage Database</a>
                <a class="dropdown-item text-color-blue" asp-area="" asp-controller="Admin" asp-action="TransactionTable">Transaction</a>
                <a class="dropdown-item text-color-blue" asp-area="" asp-controller="Admin" asp-action="Settings">Settings</a>
            }
            <a class="dropdown-item text-color-blue" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
        </div>
    </div>

        <div class="navigation-back-settings">
        <div class="session-time">
            <h6 class="session-expires-text text-color-blue">Your Session Expires On</h6>
            <h6 id="timer" class="session-expire-time text-color-blue"></h6>
        </div>
        <div>
            <a class="button" href="javascript:history.go(-1)" @*asp-area="" asp-controller="Home" asp-action="HomeScreen"*@><img class="back-button-img" src="/assets/images/back-arrow.png" /><span class="back-text">Back</span></a>
        </div>
    </div>
</div>

    <form id="submit" action="/Admin/UpdateExpiration" method="post">
        <label for="expirationTime">Session Expiration Time (in hours):</label>
        <input type="text" id="expirationTime" name="expirationTime" required pattern="^\d+(\.\d+)?$" title="Enter a valid floating-point number (e.g., 1.5)" />
        <button type="submit">Update</button>
    </form>
</body>
</html>

<style>

    .navigation-back-settings {
        margin-top: -46px;
        display: flex;
        gap: 20px;
        float: right;
    }

    .navigation-header-home{
        margin-top:20px;
    }
    
       #submit {
        margin-top: 90px;
    }


</style>



<script type="text/javascript">
    var toastVisible = true; // Initially set to true so the message is not displayed
    var timerHasStarted = false;
    var intervalId;
    var isPaused = false;
    var pauseDuration = 60;

    $(() => {


        function startTimer(duration) {
            if (!isPaused) {
                var timerDisplay = document.getElementById("timer");

                var timer = duration;
                var hours, minutes, seconds;

                intervalId = setInterval(function () {
                    hours = parseInt(timer / 3600, 10);
                    minutes = parseInt((timer % 3600) / 60, 10);
                    seconds = parseInt(timer % 60, 10);

                    hours = hours < 10 ? "0" + hours : hours;
                    minutes = minutes < 10 ? "0" + minutes : minutes;
                    seconds = seconds < 10 ? "0" + seconds : seconds;

                    timerDisplay.textContent = hours + ":" + minutes + ":" + seconds;

                    if (timer == 1800) {
                        if (!timerHasStarted) {
                            displayToast();
                            timerHasStarted = true;
                            isPaused = true;
                        }
                    }

                    if (--timer < 0) {
                        clearInterval(intervalId);
                        // Perform any action you need when the timer reaches 00:00:00
                        window.location.href = "/Login/Logout";
                        //alert("Timer has expired!");
                    }
                }, 1000);
            }
        }

        function displayToast() {
            if (toastVisible) {
                var toast = document.getElementById("toast");
                toast.style.visibility = "visible";
                toastVisible = false; // Set to false to hide the message

                setTimeout(function () {
                    toast.style.visibility = "hidden";
                    isPaused = false;
                }, pauseDuration * 1000); // Display the toast message for 1 minute
            }
        }

        // Local Storage is already set in homescreen so just obtain it here
        var expirationTime = localStorage.getItem("expiration_time");


        // Get the expiration time from localStorage
        var currentTime = Math.floor(Date.now() / 1000);
        var remainingTime = expirationTime - currentTime;
        startTimer(remainingTime);

    });
</script>

